In [4]:
from LVQ.LVQ import LVQ
import pandas as pd
import numpy as np
from numpy import hstack
table1 = pd.read_csv("zoo_data.csv", delimiter = ';')
tabletrain = pd.read_csv("training_data.csv", delimiter = ';' )

In [8]:
tabletrain_attribute = tabletrain.drop(tabletrain.columns
                                       [[0,17]],axis = 1)
tabletrain_name = tabletrain.drop(tabletrain.columns
       [[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]],axis = 1)
tabletrain_target = tabletrain.drop(tabletrain.columns
        [[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,16]],axis = 1)
arraytrain_n = tabletrain_name.values
arraytrain_att = tabletrain_attribute.values
arraytrain_target = np.transpose(tabletrain_target.values)-1

In [9]:
table1_attribute = table1.drop(table1.columns
                               [[0,17]],axis = 1)
table1_name = table1.drop(table1.columns
    [[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]],axis = 1)
table1_target = table1.drop(table1.columns
    [[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]],axis = 1)
array1_n = table1_name.values
array1_att = table1_attribute.values
array1_target = table1_target.values
input_patterns = array1_att.shape[0]

In [10]:
vector_length = arraytrain_att.shape[1]
training_pattern = arraytrain_att.shape[0]
decay_rate = 0.99
min_alpha = 0.001

In [11]:
learningVQ1 = LVQ(vector_length, training_pattern, 
        decay_rate, min_alpha, arraytrain_att, arraytrain_target)
learningVQ1.initialize_arrays()
learningVQ1.training()

In [14]:
dataset = pd.DataFrame({'Name':array1_n[:,0],'Target':array1_n[:,1],
        'Prediction':learningVQ1.get_clusters
                        (input_patterns,array1_att)[0,:]+1})
dataset.iloc[:]

         Name Target  Prediction
0    aardvark      1         1.0
1    antelope      1         1.0
2        bass      4         4.0
3        bear      1         1.0
4        boar      1         1.0
5     buffalo      1         1.0
6        calf      1         1.0
7        carp      4         4.0
8     catfish      4         4.0
9        cavy      1         1.0
10    cheetah      1         1.0
11    chicken      2         2.0
12       chub      4         4.0
13       clam      7         4.0
14       crab      7         5.0
15   crayfish      7         7.0
16       crow      2         2.0
17       deer      1         1.0
18    dogfish      4         4.0
19    dolphin      1         4.0
20       dove      2         2.0
21       duck      2         2.0
22   elephant      1         1.0
23   flamingo      2         2.0
24       flea      6         6.0
25       frog      5         5.0
26       frog      5         5.0
27   fruitbat      1         1.0
28    giraffe      1         1.0
29       girl      1         1.0
..        ...    ...         ...
71       rhea      2         2.0
72   scorpion      7         6.0
73   seahorse      4         4.0
74       seal      1         4.0
75    sealion      1         1.0
76   seasnake      3         4.0
77    seawasp      7         4.0
78    skimmer      2         2.0
79       skua      2         2.0
80   slowworm      3         4.0
81       slug      7         4.0
82       sole      4         4.0
83    sparrow      2         2.0
84   squirrel      1         1.0
85   starfish      7         7.0
86   stingray      4         4.0
87       swan      2         2.0
88    termite      6         6.0
89       toad      5         5.0
90   tortoise      3         3.0
91    tuatara      3         5.0
92       tuna      4         4.0
93    vampire      1         1.0
94       vole      1         1.0
95    vulture      2         2.0
96    wallaby      1         1.0
97       wasp      6         6.0
98       wolf      1         1.0
99       worm      7         4.0
100      wren      2         2.0

[101 rows x 3 columns]